.usersList {
  max-height: calc(100vh - 6rem);
  overflow-y: scroll;
}

.usersList::-webkit-scrollbar {
  width: 1px; /* width of the scrollbar */
}

.usersList::-webkit-scrollbar-track {
  background: #333; /* color of the track */
}

.usersList::-webkit-scrollbar-thumb {
  background: whitesmoke; /* color of the thumb */
  border-radius: 4px;
}

.usersList::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the thumb on hover */
}
